/* ======= card ======= */
.card-list {
    display: flex;
    justify-content: space-between; /* 讓單字間隔平均 */
    align-items: center;
    gap: 5px; /* 水平圖片之間的間距 */
    width: 100%;            /* 容器寬度設為 100% */
    max-width: 1200px; /* 可以設定容器的最大寬度 */
    margin: 0 auto; /* 讓容器居中 */
    box-sizing: border-box; /* 讓所有的 padding 和 border 包括在寬度計算內 */
}

.card-list .card {
    flex-grow: 1;           /* 讓每個單字元素根據空間進行擴展 */
    position: relative;
    display: inline-block;
    width: 30%; /* 每張圖片佔父容器的 30% */
    max-width: 300px; /* 設定圖片最大寬度 */
    height: auto !important; /* 設定圖片的高度 */
    text-align: center;
    box-sizing: border-box; /* 讓 padding 和 border 不影響寬度 */
    overflow: hidden; /* 確保圖片不會超出容器 */
    margin-top: 20px; /* 增加圖片之間的垂直間距 */
    margin-bottom: 20px; /* 增加圖片之間的垂直間距 */
}

#canvasGallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

/* .card:hover .image {opacity: 0.5;} */
/* .card:hover .text {opacity: 1;} */

/* 預設圖片樣式 */
.image {width: 100%; height: 100%; object-fit: cover; /* 保持圖片比例且填充容器 */ transition: opacity 0.3s ease;}

/* 預設文字隱藏 */
.text {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: white; font-size: 20px; font-weight: bold; opacity: 0; transition: opacity 0.3s ease;}

canvas {
  border: none; /*1px solid rgba(0, 0, 0, 0.2); */
  box-shadow: none;
  max-width: 100%;
  height: auto;
}

/* ======= 預覽視窗背景 ======= */
.preview-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.65);
    display: none; /* 初始不顯示 */
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.preview-content {
    display: flex;
    gap: 20px;
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    max-width: 90%;
    max-height: 90%;
    box-shadow: 0 5px 25px rgba(0,0,0,0.3);
}

.preview-content img {
    max-width: 60vw;
    max-height: 80vh;
    object-fit: contain;
}

.preview-text {
    font-size: 20px;
    color: #333;
    max-width: 30vw;
    overflow-wrap: break-word;
}